<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <mbsc-eventcalendar [data]="events" [options]="eventSettings"></mbsc-eventcalendar>
        <div class="mbsc-btn-group-block">
            <mbsc-button (click)="mbscPopup.instance.show()">Add Event</mbsc-button>
        </div>

        <!-- modal window -->        
        <mbsc-popup [options]="popupSettings" #mbscPopup="mobiscroll" class="md-add-event-popup">
            <mbsc-form>
                <mbsc-form-group>
                    <mbsc-input [(ngModel)]="eventText">Title</mbsc-input>
                    <mbsc-textarea [(ngModel)]="eventDesc">Description</mbsc-textarea>
                </mbsc-form-group>
                <mbsc-form-group>
                    <mbsc-switch [(ngModel)]="allDay" (change)="change()">All-day</mbsc-switch>
                    <mbsc-range [(ngModel)]="eventDate" [options]="rangeSettings" [controls]="control"
                        [dateWheels]="wheels">
                        <mbsc-range-start>Starts</mbsc-range-start>
                        <mbsc-range-end>Ends</mbsc-range-end>
                    </mbsc-range>
                    <mbsc-segmented-group name="my-group" [(ngModel)]="isFree">
                        <mbsc-segmented value="busy">Show as busy</mbsc-segmented>
                        <mbsc-segmented value="free">Show as free</mbsc-segmented>
                    </mbsc-segmented-group>
                </mbsc-form-group>
            </mbsc-form>
        </mbsc-popup>

        <!-- <jqxScheduler #scheduler [width]="'100%'" [height]="'700px'" [date]="date" [source]="dataAdapter"
            [view]="'weekView'"  [resources]="resources" [views]="views" [appointmentDataFields]="appointmentDataFields">
        </jqxScheduler>         -->
    </div>
</div>