<div class="container pl-0 pr-0 animate__animated animate__fast topic-content" id="topic-content" [ngClass]="{'animate__slideInRight': navType == 'forward', 'animate__slideInLeft': navType == 'back'}">
    <div class="row mt-3 pb-3">
        <div class="col-12">
            <mat-list role="list" class="w-100">
                <div *ngFor="let topic of comments; first as isFirst;" class="object-list-item w-100 mb-3 animate__animated animate__fadeIn animate__fast" [ngClass]="{'mt-3': !isFirst}">
                    <mat-list-item role="list" class="w-100 align-items-center comment-list-item pl-0 pr-0 w-100"
                        [routerLink]="['/home/comments', topic.id]">
                        <img class="object-img rounded-circle" width="40" [src]="topic.ownerPicture">
                        <div class="d-flex flex-column object-labels">
                            <div class="d-flex align-items-end">
                                <span class="comment-owner">{{topic.owner}}</span>
                                <span class="comment-date ml-3">{{topic.date | date:'short'}}</span>
                            </div>
                            <span>{{topic.content}}</span>
                        </div>
                    </mat-list-item>
                </div>
                <mat-list-item role="list" class="w-100 align-items-center comment-list-item list-form-content mt-3">
                    <form class="send-message-form w-100">
                        <mat-form-field class="w-100 mt-3">
                            <input type="text" matInput placeholder="Write a comment" name="message" [(ngModel)]="message">
                            <button mat-button  mat-fab color="primary" matSuffix (click)="sendComment()" [disabled]="!message || message.length<1">
                                <mat-icon>send</mat-icon>
                            </button>
                        </mat-form-field>
                    </form>
                </mat-list-item> 
            </mat-list>
        </div>
    </div>
  
</div>