<!-- LEFT SIDE -->
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <!-- <h1 style="font-weight:normal">Left Sidebar</h1> -->
    <!-- <div>
        <p-megaMenu [model]="items" orientation="vertical"></p-megaMenu>
    </div> -->

    <mat-nav-list>
        <a mat-list-item *ngFor="let link of items" [routerLink]="link.url" routerLinkActive="router-link-active" (click)="toggleSidebar()">
           
               
                <mat-icon color="accent">{{link.icon}}</mat-icon>
                <span class="text-link">{{translate.instant(link.label)}}</span>
             
        </a>
    </mat-nav-list>
</p-sidebar>

<!-- TOP SIDE -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon aria-hidden="false">menu</mat-icon>
        </button>
        <mat-icon class="logo" [routerLink]="['/home']" svgIcon="logo" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span class="example-spacer"></span>
        <app-menubar></app-menubar>
    </mat-toolbar-row>
</mat-toolbar>