.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .logo {
    width: 156px;
    height: 40px;
    margin-left: 24px;
    
  }
  .mat-list-base {
    display: flex;;
  }