<!-- LEFT SIDE -->
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
    <!-- <h1 style="font-weight:normal">Left Sidebar</h1> -->
    <!-- <div>
        <p-megaMenu [model]="items" orientation="vertical"></p-megaMenu>
    </div> -->

    <div class="d-flex flex-column justify-content-center align-items-start pl-0">
        <a (click)="toggleSidebar()" class="mt-2" [routerLink]="['/home']">Dashboard</a>
        <a (click)="toggleSidebar()" class="mt-2" [routerLink]="['/home/scheduler']">Calendar</a>
        <a (click)="toggleSidebar()" class="mt-2" [routerLink]="['/home/preferences']">Preferences</a>
        <a (click)="toggleSidebar()" class="mt-2" [routerLink]="['/home/listaBartolo']">Lista de bartolos cr</a>
        <a (click)="toggleSidebar()" class="mt-2" [routerLink]="['/home/chat']">Chat</a>
        <a (click)="toggleSidebar()" class="mt-2" [routerLink]="['/login']">Salir</a>
        <!-- <button pButton type="button" (click)="visibleSidebar1 = false" label="Save" class="ui-button-success"></button>
        <button pButton type="button" (click)="visibleSidebar1 = false" label="Cancel" class="ui-button-secondary"></button> -->
    </div>
</p-sidebar>

<!-- TOP SIDE -->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button pButton type="button" icon="pi pi-bars" (click)="toggleSidebar()"></button>
        <mat-icon class="logo" svgIcon="logo" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        <span class="example-spacer"></span>
        <app-menubar></app-menubar>
    </mat-toolbar-row>
</mat-toolbar>