.object-labels {
    margin-left: 10px;
    width: 87%;
}

@media screen and (max-width: 400px) {
    .object-labels {
        width: 76%;
    }
}
@media screen and (min-width:401px) and (max-width: 550px) {
    .object-labels {
        width: 82%;
    }
}

.object-status-btn {
    flex:1;
}

.mat-tab-body-content {
    overflow: hidden!important;
}