<div class="container animate__animated animate__fast main-wrapper" [ngClass]="{'animate__slideInRight': navType == 'forward', 'animate__slideInLeft': navType == 'back'}">
    <div class="row mt-3">
        <div class="col-12">
            <mat-list role="list" class="w-100">
                <div *ngFor="let file of files" class="object-list-item">
                    <mat-list-item role="listitem" class="w-100 justify-content-center align-items-center"
                        [routerLink]="'/home/object-detail'">
                        <img class="object-img" width="40" [src]="file.picture">
                        <div class="d-flex flex-column object-labels">
                            <span class="font-weight-normal">{{file.name}}</span>
                            <span class="font-weight-light object-desc d-inline-block text-truncate font-14">Uploaded by
                                {{file.uploadedBy}}</span>
                            <span
                                class="font-weight-light object-desc d-inline-block text-truncate font-14">({{file.createdDate | date:'shortDate'}})</span>
                        </div>
                        <button mat-icon-button [matMenuTriggerFor]="filesMenu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #filesMenu="matMenu">
                            <button mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </mat-list-item>
                    <mat-divider class="mb-3 mt-3"></mat-divider>
                </div>
            </mat-list>
        </div>
    </div>
</div>