<div class="ui-inputgroup d-flex flex-column justify-content-center">
    <span class="ui-float-label">
        <input id="float-input" required type="text" size="30" pInputText>
        <label for="float-input">Username</label>
    </span>

    <span class="ui-float-label">
        <input id="float-input1" required type="text" size="30" pInputText>
        <label for="float-input1">Password</label>
    </span>

    <button pButton type="button" (click)="login()"  class="ui-button-raised ui-button-rounded">Login</button>
</div>