.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
svg {
    width: 60%;
    margin-bottom: 2rem;
    cursor: pointer;
    @media (min-width: 40.063em) {
        width: auto;
        margin-bottom: 1rem;
    }

   &:hover #Symbol {
        animation: rotation 0.5s infinite linear;
        transform-origin: 25px;
        cursor: pointer;
        display: inline-block;
    }
    
}
#Symbol {
    animation: rotation 1s 2 ease-in-out;
    transform-origin: 25px;
    cursor: pointer;
}

@-webkit-keyframes rotation {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(360deg);
		}
}



