
<div class="flex-centered">

    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                <input type="text" required pInputText placeholder="Username">         
            </div>
        </div>
        <div class="ui-g-12 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-4">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
                <input type="text" required pInputText placeholder="Password">         
            </div>
        </div>
        <div class="ui-g-12 ui-md-8 ui-md-offset-2 ui-lg-6 ui-lg-offset-4">
                <button pButton type="button" (click)="login()" label="Login"></button>     
        </div>
    </div>

</div>