.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    
    
}
.flex-centered__inner {
    background-color: white;
    max-height: 500px;
    padding: 32px;
    border-radius: 4px;
}
svg {
    width: 60%;
    margin-bottom: 2rem;
    cursor: pointer;
    @media (min-width: 40.063em) {
        width: auto;
        margin-bottom: 2rem;
    }

   &:hover #Symbol {
        animation: rotationOut 0.5s infinite  linear;
        transform-origin: 25px;
        cursor: pointer;
        display: inline-block;
    }
    
}
#Symbol {
    animation: rotationIn 0.3s linear;
    transform-origin: 25px;
    cursor: pointer;
}
.mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
}


@-webkit-keyframes rotationIn {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(-360deg);
		}
}
@-webkit-keyframes rotationOut {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(-360deg);
    }
}




.mat-form-field {
    width: 100%;
}

.mat-raised-button {
    margin-top: 1rem;
    width: 100%;
}