/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';
// prime ng styles
@import './assets/styles/animate';



// css variables
$small : 40em;
$medium : 40.063em;
$large : 64.063em;
$extralarge : 90.063em;

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

:root {
    --orange-logo : #F37916;
    --gray-logo: #3F3F3F;
}
.dark-theme {
    --gray-logo: white;
}
.loginPage {
    background: url(https://images.unsplash.com/photo-1549449274-79d17de85c94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80) no-repeat center center fixed; 
    background-size: cover;
    background-blend-mode: color-dodge;
    background-color: #9a9494;

    @media (min-width: $medium) {
        background: url(https://images.unsplash.com/photo-1517803833002-76fe44a2de2f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80) no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: color-dodge;
        background-color: #9a9494;
    }
}
button:focus {
  outline: none !important;
}
html, body {
    height: 100%;
}

body {
    margin:0;
    min-height: 100%;
    background-color: transparent !important;
}

body .ui-button {
    background-color: var(--orange-logo) !important;
    border-color: var(--orange-logo)  !important;
}
.ui-toolbar button + svg {
    width: 100px;
    margin-left: 8px;
    cursor: pointer;
}
//Media query examples
/*@media (max-width: $small) {
    
}
@media (min-width: $medium) {
    
}
@media (min-width: $large) {
    
}
@media (min-width: $extralarge) {
    
}
*/
md-button md-icon {
    fill: red;
  }
//@import "~@mobiscroll/angular/dist/css/mobiscroll.scss";
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
    outline: none!important;
}

a {
    outline: none!important;
}


// LISTAS (FILES COMMENTS ETC)
ul li {
    list-style-type: none;
}

.object-img {
    width: 40px;
    height: 40px;
}

.object-desc {    
    width: 100%;
}

.object-list-item {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}

.object-labels {
    margin-left: 10px;
    width: 87%;
}

@media screen and (max-width: 400px) {
    .object-labels {
        width: 76%;
    }
}

@media screen and (min-width:401px) and (max-width: 550px) {
    .object-labels {
        width: 82%;
    }
}

.font-14 {
    font-size: 14px;
}