
@import '~@angular/material/theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$triskell-primary: mat-palette($mat-yellow);
$triskell-accent:  mat-palette($mat-pink, A200, A100, A400);
$mat-toolbar-height-desktop: 200px;

// The warn palette is optional (defaults to red).
$triskell-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$triskell-theme: mat-light-theme($triskell-primary, $triskell-accent, $triskell-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($triskell-theme);


