<div class="container animate__animated animate__slideInLeft animate__fast">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Favorites">
            <div class="animate__animated animate__fadeIn animate__fast">
                <mat-list role="list" class="w-100">
                    <div *ngFor="let item of favItems" class="object-list-item h-auto">
                        <mat-list-item role="listitem"
                            class="w-100 justify-content-center align-items-center h-auto animate__animated animate__fadeIn animate__fast"
                            [routerLink]="['/home/object-detail', item.name]">
                            <img class="object-img animate__animated animate__fadeIn animate__fast" width="40"
                                [src]="item.picture" alt="">
                                <!-- [src]="'assets/images/no-image.png'" -->
                            <div class="d-flex flex-column object-labels">
                                <span class="font-weight-normal">{{item.name}}</span>
                                <span class="font-weight-light object-desc d-inline-block">{{item.about}}</span>
                            </div>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-list-item>
                        <mat-divider class="mb-2 mt-2"></mat-divider>
                    </div>
                </mat-list>
            </div>
        </mat-tab>
        <mat-tab label="Last modified">
            <div class="animate__animated animate__fadeIn animate__fast">
                <mat-list role="list" class="w-100">
                    <div *ngFor="let item of lastItems" class="object-list-item h-auto">
                        <mat-list-item role="listitem"
                            class="w-100 justify-content-center align-items-center h-auto animate__animated animate__fadeIn animate__fast"
                            [routerLink]="['/home/object-detail', item.name]">
                            <img class="object-img animate__animated animate__fadeIn animate__fast" width="40"
                                [src]="'assets/images/no-image.png'" alt="">
                            <div class="d-flex flex-column object-labels">
                                <span class="font-weight-normal">{{item.name}}</span>
                                <span class="font-weight-light object-desc d-inline-block">{{item.about}}</span>
                            </div>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-list-item>
                        <mat-divider class="mb-2 mt-2"></mat-divider>
                    </div>
                </mat-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>